docs/.vitepress/.temp
docs/.vitepress/cache
docs/.vitepress/dist

.DS_Store
node_modules

test

# projects build artifacts
projects/*/dist/
projects/*/node_modules/
projects/*/.map
projects/*/*.map
projects/*/package-lock.json
projects/*/pnpm-lock.yaml

.history