.resume {
  position: relative;
  height  : 100%;
  width   : 100%;

  .introduction {
    position        : fixed;
    top             : 0;
    left            : 0;
    height          : 100vh;
    width           : 400px;
    background-color: #59738A;

    .head {
      position         : absolute;
      left             : 50%;
      top              : 0;
      transform        : translateX(-50%);
      margin           : 60px auto 40px;
      height           : 200px;
      width            : 150px;
      background-color : transparent;
      background-image : url("~@/../public/myPhoto.jpg");
      background-repeat: no-repeat;
      background-size  : contain;
    }

    .want {
      width     : 100%;
      margin    : 320px auto 30px;
      text-align: center;
      font-size : 20px;
      color     : #fff;
    }

    .Item {
      display       : flex;
      flex-direction: column;
      font-size     : 16px;
      color         : #ddd;

      .item {
        flex           : 1;
        display        : flex;
        justify-content: center;
        align-items    : center;
        height         : 40px;
        line-height    : 40px;

        .key {
          flex         : 3;
          text-align   : right;
          padding-right: 40px;

          span {
            padding-right: 5px;
          }
        }

        .value {
          flex: 7;
        }

      }

      .item:first-of-type {
        .value {

          letter-spacing: 5px;
          font-size     : 20px;
        }
      }
    }

    .layout {
      position: absolute;
      bottom  : 10px;
      width   : 100%;
      margin  : 0;
      padding : 0;

      span {
        display   : inline-block;
        width     : 100%;
        text-align: center;
        font-size : 12px;
        color     : #333;
      }
    }
  }

  .doc-main {
    position: absolute;
    top     : 0;
    left    : 400px;
    width   : 100%;

    // .markdown-body {
    //   background-color: transparent !important;

    .details {
      background-color: transparent !important;

      /* markdown的样式 */
      .markdown-body {
        margin: 0 0 0 60px;
      }
    }

    // }
  }
}

body {
  background-color: transparent !important;
}

.up {
  height          : 100%;
  width           : 100%;
  background-color: #f2f5f6;
  box-shadow      : 0 0 6px rgba(0, 0, 0, .12);
  text-align      : center;
  line-height     : 40px;
  color           : #1989fa;
}