.about {
  position: relative;
  height  : 100%;
  width   : 100%;

  .doc-main {
    position: absolute;
    top     : 100px;
    width   : 100%;

    // .markdown-body {
    //   background-color: transparent !important;

    .details {
      background-color: transparent !important;

      ::v-deep .markdown-body {
        background-color: transparent !important;

        ::v-deep html {

          ::v-deep body {
            background-color      : transparent !important;
            /* 元素遮罩层不遮挡下方元素的代码 */
            -webkit-pointer-events: none;
            -moz-pointer-events   : none;
            -ms-pointer-events    : none;
            -o-pointer-events     : none;
            pointer-events        : none;
          }
        }
      }
    }

    // }
  }
}

body {
  background-color: transparent !important;
}

.up {
  height          : 100%;
  width           : 100%;
  background-color: #f2f5f6;
  box-shadow      : 0 0 6px rgba(0, 0, 0, .12);
  text-align      : center;
  line-height     : 40px;
  color           : #1989fa;
}